		body{
			background-color: rgb(255,255,240);
			font-family:  sans-serif,fantasy, cursive ;
			text-align: center;
		}
		nav,h1,#home{
			text-align: center;
		}
		nav a{
			padding:5px 8px;
		}
		h1{
			color: #D6132E;
			text-shadow:2px 2px #13D67D;
		}
		h2{
			background-color: #434D6D;
			padding:8px;
			color: white;
			border-radius: 5px; 
			font-family: helvetica;
		}
		figure{
			display:inline;
		}
		.twoimages{
			width:40%;
			height:300px;
			border-radius: 15px;
		}
		.fourdesign{
			margin:1.9%;
		}

		.fourimages{
			width:20%;
			height:200px;
			border-radius: 10px;
			
		}
		table,tr{
			width:100%;
			

		}
		th{
			width:25%;
		}
		.planets{
			margin-top:0.4em;
		}
